In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("일조_통합_yearmonthdayweekday.csv", encoding = "utf-8")

In [5]:
df.head(3)

   지점명  일조(hr)  year  month  day  weekday  hour
0  양산시     0.0  2023      1    1        6     8
1  양산시     0.3  2023      1    1        6     9
2  양산시     1.0  2023      1    1        6    10

In [7]:
df.columns

Index(['지점명', '일조(hr)', 'year', 'month', 'day', 'weekday', 'hour'], dtype='object')

In [9]:
new_order = ['지점명', 'year', 'month', 'day', 'weekday', 'hour', '일조(hr)']

In [11]:
df = df[new_order]

In [15]:
df.head(3)

   지점명  year  month  day  weekday  hour  일조(hr)
0  양산시  2023      1    1        6     8     0.0
1  양산시  2023      1    1        6     9     0.3
2  양산시  2023      1    1        6    10     1.0

In [17]:
df.to_csv("일조_yearmonthdaydweekday정렬.csv", encoding = "utf-8")