In [9]:
import pandas as pd

df_1 = pd.read_csv("df_add_farms.csv", encoding='utf-8')

In [10]:
df_1.head()

,발전구분,호기,hour,발전량(kWh),설비용량(MW),지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),year,month,day
0,감우리,1,1,0.0,0.554,진주,24.5,NaN,0.0,0.0,92.0,1004.9,NaN,NaN,NaN,2.0,2021,8,5
1,감우리,1,1,0.0,0.554,진주,24.4,NaN,0.0,0.0,94.0,1001.6,NaN,NaN,NaN,3.0,2021,8,6
2,감우리,1,1,0.0,0.554,진주,24.4,NaN,0.2,0.0,87.0,999.1,NaN,NaN,NaN,1.0,2021,8,7
3,감우리,1,1,0.0,0.554,진주,23.6,0.4,0.6,360.0,96.0,1000.7,NaN,NaN,NaN,9.0,2021,8,8
4,감우리,1,1,0.0,0.554,진주,24.5,NaN,0.3,0.0,86.0,996.8,NaN,NaN,NaN,8.0,2021,8,9

In [ ]:
plant_to_location = {
    "감우리": "진주",
    "광양항광양냉장태양광": "광양시",
    "광양항어울림태양광": "광양시",
    "남제주소내": "서귀포",
    "농촌공진도태양광": "목포",
    "당진자재창고태양광": "천안",
    "당진태양광": "천안",
    "당진화력수상태양광": "천안",
    "무릉리": "동해",
    "부산복합자재창고": "부산",
    "부산본부": "부산",
    "부산수처리장": "부산",
    "부산신항": "부산",
    "부산운동장": "부산",
    "삼척소내": "동해",
    "송당리": "제주",
    "수원환경사업소태양광": "수원",
    "신인천 북측부지": "인천",
    "신인천 주차장": "인천",
    "신인천소내": "인천",
    "신인천전망대": "인천",
    "신인천해수구취수구": "인천",
    "신풍리": "천안",
    "영월본부": "영월",
    "영월철도부지": "영월",
    "용수리": "충주",
    "울산태양광#1": "울산",
    "위미2리": "서귀포",
    "이천D(백사면B)": "이천",
    "이천시 백사면A": "이천",
    "익산 다송리": "군산",
    "인천수산정수장": "인천",
    "하동공설운동장": "진주",
    "하동변전소": "진주",
    "하동보건소": "진주",
    "하동본부": "진주",
    "하동정수장": "진주",
    "하동하수처리장": "진주",
    "화촌주민참여형": "영월"
}

original_dict = {
    "감우리": {"1": 554},
    "남제주소내": {"1": 196},
    "무릉리": {"1": 809},
    "부산복합자재창고": {"1": 187},
    "부산본부": {"2": 502},
    "부산수처리장": {"1": 111},
    "부산신항": {"1": 115},
    "부산운동장": {"1": 1400},
    "삼척소내": {"1": 999, "2": 990, "3": 2002, "4": 2599},
    "송당리": {"1": 997},
    "신인천 북측부지": {"1": 365},
    "신인천소내": {"1": 200},
    "신인천전망대": {"1": 1742},
    "신인천해수구취수구": {"1": 907},
    "신인천 주차장": {"1": 603},
    "신풍리": {"1": 991},
    "영월본부": {"1": 40},
    "영월철도부지": {"1": 1191},
    "용수리": {"1": 889},
    "위미2리": {"1": 995},
    "이천D(백사면B)": {"1": 1000},
    "이천시 백사면A": {"1": 1834},
    "익산 다송리": {"1": 893},
    "인천수산정수장": {"1": 998},
    "하동공설운동장": {"1": 377},
    "하동변전소": {"1": 48},
    "하동보건소": {"1": 41},
    "하동본부": {"1": 998, "2": 1901, "3": 601, "4": 998, "5": 998, "6": 998},
    "하동정수장": {"1": 93},
    "하동하수처리장": {"1": 54},
    "화촌주민참여형": {"1": 1000},
    "당진자재창고태양광": {"1": 700},
    "당진태양광": {"1": 1000},
    "당진화력수상태양광": {"1": 1000},
    "울산태양광#1": {"1": 500},
    "광양항광양냉장태양광": {"1": 700},
    "광양항어울림태양광": {"1": 600},
    "수원환경사업소태양광": {"1": 1500},
    "농촌공진도태양광": {"1": 994},
}

commissioning_dict = {
    "감우리": "2021.8",
    "남제주소내": "2012.6",
    "무릉리": "2021.5",
    "부산복합자재창고": "2012.10",
    "부산본부": "2018", #
    "부산수처리장": "2018.1",
    "부산신항": "2011.6",
    "부산운동장": "2017", #
    "삼척소내": "2019.8",
    "송당리": "2019.11",
    "신인천소내": "2012",#
    "신인천전망대": "2018.1",
    "신인천해수구취수구": "2018.12",
    "신인천 북측부지": "2020.12",
    "신인천 주차장": "2019.12",
    "신풍리": "2021.4",
    "영월본부": "2009", #
    "영월철도부지": "2018.4",
    "용수리": "2020.10",
    "위미2리": "2020.4",
    "이천D(백사면B)": "2021.2",
    "이천시 백사면A": "2021.8",
    "익산 다송리": "2024.1",
    "인천수산정수장": "2011.11",
    "하동공설운동장": "2011.12",
    "하동변전소": "2011.8",
    "하동보건소": "2011.12",
    "하동본부": "2020.12", #
    "하동정수장": "2011.12",
    "하동하수처리장": "2011.12",
    "화촌주민참여형": "2021.5",
    "당진자재창고태양광": "2012.12",
    "당진태양광": "2010.9",
    "당진화력수상태양광": "2013.6",
    "울산태양광#1": "2011.3", 
    "광양항광양냉장태양광": "2021.4",
    "광양항어울림태양광": "2020.12",
    "수원환경사업소태양광": "2014.1",
    "농촌공진도태양광": "2008.10"
}

commissioning_dict = {
    "감우리": {"1": "2021.8"},
    "남제주소내": {"1": "2012.6"},
    "무릉리": {"1": "2021.5"},
    "부산복합자재창고": {"1": "2012.10"},
    "부산본부": {"2": "2018.1"},
    "부산수처리장": {"1": "2018.1"},
    "부산신항": {"1": "2011.6"},
    "부산운동장": {"1": "2017.1"},
    "삼척소내": {
        "1": "2017.1",
        "2": "2018.1",
        "3": "2018.1",
        "4": "2019.1"
    },
    "송당리": {"1": "2019.11"},
    "신인천 북측부지": {"1": "2020.12"},
    "신인천소내": {"1": "2012.1"},
    "신인천전망대": {"1": "2018.1"},
    "신인천해수구취수구": {"1": "2018.12"},
    "신인천 주차장": {"1": "2019.12"},
    "신풍리": {"1": "2021.4"},
    "영월본부": {"1": "2009.1"},
    "영월철도부지": {"1": "2018.4"},
    "용수리": {"1": "2020.10"},
    "위미2리": {"1": "2020.4"},
    "이천D(백사면B)": {"1": "2021.2"},
    "이천시 백사면A": {"1": "2021.8"},
    "익산 다송리": {"1": "2024.1"},
    "인천수산정수장": {"1": "2011.11"},
    "하동공설운동장": {"1": "2011.12"},
    "하동변전소": {"1": "2011.8"},
    "하동보건소": {"1": "2011.12"},
    "하동본부": {
        "1": "2008.1",
        "2": "2010.1",
        "3": "2010.1",
        "4": "2017.1",
        "5": "2018.1",
        "6": "2020.1"
    },
    "하동정수장": {"1": "2011.12"},
    "하동하수처리장": {"1": "2011.12"},
    "화촌주민참여형": {"1": "2021.5"},
    "당진자재창고태양광": {"1": "2012.12"},
    "당진태양광": {"1": "2010.9"},
    "당진화력수상태양광": {"1": "2013.6"},
    "울산태양광#1": {"1": "2011.3"},
    "광양항광양냉장태양광": {"1": "2021.4"},
    "광양항어울림태양광": {"1": "2020.12"},
    "수원환경사업소태양광": {"1": "2014.1"},
    "농촌공진도태양광": {"1": "2008.10"}
}

(2822571, 19)

In [11]:
# original_dict는 이미 제공하신 그대로 사용
original_dict = {
    "감우리": {"1": 554},
    "남제주소내": {"1": 196},
    "무릉리": {"1": 809},
    "부산복합자재창고": {"1": 187},
    "부산본부": {"2": 502},
    "부산수처리장": {"1": 111},
    "부산신항": {"1": 115},
    "부산운동장": {"1": 1400},
    "삼척소내": {"1": 999, "2": 990, "3": 2002, "4": 2599},
    "송당리": {"1": 997},
    "신인천 북측부지": {"1": 365},
    "신인천소내": {"1": 200},
    "신인천전망대": {"1": 1742},
    "신인천해수구취수구": {"1": 907},
    "신인천 주차장": {"1": 603},
    "신풍리": {"1": 991},
    "영월본부": {"1": 40},
    "영월철도부지": {"1": 1191},
    "용수리": {"1": 889},
    "위미2리": {"1": 995},
    "이천D(백사면B)": {"1": 1000},
    "이천시 백사면A": {"1": 1834},
    "익산 다송리": {"1": 893},
    "인천수산정수장": {"1": 998},
    "하동공설운동장": {"1": 377},
    "하동변전소": {"1": 48},
    "하동보건소": {"1": 41},
    "하동본부": {"1": 998, "2": 1901, "3": 601, "4": 998, "5": 998, "6": 998},
    "하동정수장": {"1": 93},
    "하동하수처리장": {"1": 54},
    "화촌주민참여형": {"1": 1000},
    "당진자재창고태양광": {"1": 700},
    "당진태양광": {"1": 1000},
    "당진화력수상태양광": {"1": 1000},
    "울산태양광#1": {"1": 500},
    "광양항광양냉장태양광": {"1": 700},
    "광양항어울림태양광": {"1": 600},
    "수원환경사업소태양광": {"1": 1500},
    "농촌공진도태양광": {"1": 994},
}
# 바꾸기 전 행 개수
before_count = len(df_1)

# '발전구분'과 '호기'로 설비용량을 매핑해서 값을 대체
def get_capacity(row):
    place = row['발전구분']
    unit = str(row['호기'])
    if place in original_dict and unit in original_dict[place]:
        return original_dict[place][unit] / 1000  # MW를 GW로 변환하려면 /1000, MW 그대로면 그대로 반환
    else:
        return row['설비용량 (MW)']

df_1['설비용량 (MW)'] = df_1.apply(get_capacity, axis=1)

# 바꾼 후 행 개수
after_count = len(df_1)

print(before_count, after_count)

2822571 2822571

In [13]:
df_1.head()

,발전구분,호기,hour,발전량(kWh),설비용량(MW),지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),year,month,day,설비용량 (MW)
0,감우리,1,1,0.0,0.554,진주,24.5,NaN,0.0,0.0,92.0,1004.9,NaN,NaN,NaN,2.0,2021,8,5,0.554
1,감우리,1,1,0.0,0.554,진주,24.4,NaN,0.0,0.0,94.0,1001.6,NaN,NaN,NaN,3.0,2021,8,6,0.554
2,감우리,1,1,0.0,0.554,진주,24.4,NaN,0.2,0.0,87.0,999.1,NaN,NaN,NaN,1.0,2021,8,7,0.554
3,감우리,1,1,0.0,0.554,진주,23.6,0.4,0.6,360.0,96.0,1000.7,NaN,NaN,NaN,9.0,2021,8,8,0.554
4,감우리,1,1,0.0,0.554,진주,24.5,NaN,0.3,0.0,86.0,996.8,NaN,NaN,NaN,8.0,2021,8,9,0.554

In [ ]:
commissioning_dict = {
    "감우리": {"1": "2021.8"},
    "남제주소내": {"1": "2012.6"},
    "무릉리": {"1": "2021.5"},
    "부산복합자재창고": {"1": "2012.10"},
    "부산본부": {"2": "2018.1"},
    "부산수처리장": {"1": "2018.1"},
    "부산신항": {"1": "2011.6"},
    "부산운동장": {"1": "2017.1"},
    "삼척소내": {
        "1": "2017.1",
        "2": "2018.1",
        "3": "2018.1",
        "4": "2019.1"
    },
    "송당리": {"1": "2019.11"},
    "신인천 북측부지": {"1": "2020.12"},
    "신인천소내": {"1": "2012.1"},
    "신인천전망대": {"1": "2018.1"},
    "신인천해수구취수구": {"1": "2018.12"},
    "신인천 주차장": {"1": "2019.12"},
    "신풍리": {"1": "2021.4"},
    "영월본부": {"1": "2009.1"},
    "영월철도부지": {"1": "2018.4"},
    "용수리": {"1": "2020.10"},
    "위미2리": {"1": "2020.4"},
    "이천D(백사면B)": {"1": "2021.2"},
    "이천시 백사면A": {"1": "2021.8"},
    "익산 다송리": {"1": "2024.1"},
    "인천수산정수장": {"1": "2011.11"},
    "하동공설운동장": {"1": "2011.12"},
    "하동변전소": {"1": "2011.8"},
    "하동보건소": {"1": "2011.12"},
    "하동본부": {
        "1": "2008.1",
        "2": "2010.1",
        "3": "2010.1",
        "4": "2017.1",
        "5": "2018.1",
        "6": "2020.1"
    },
    "하동정수장": {"1": "2011.12"},
    "하동하수처리장": {"1": "2011.12"},
    "화촌주민참여형": {"1": "2021.5"},
    "당진자재창고태양광": {"1": "2012.12"},
    "당진태양광": {"1": "2010.9"},
    "당진화력수상태양광": {"1": "2013.6"},
    "울산태양광#1": {"1": "2011.3"},
    "광양항광양냉장태양광": {"1": "2021.4"},
    "광양항어울림태양광": {"1": "2020.12"},
    "수원환경사업소태양광": {"1": "2014.1"},
    "농촌공진도태양광": {"1": "2008.10"}
}

# '준공연도' 컬럼 생성 (YYYY.MM 형식)
def get_commissioning(row):
    place = row['발전구분']
    unit = str(row['호기'])
    if place in commissioning_dict and unit in commissioning_dict[place]:
        return commissioning_dict[place][unit]
    else:
        return None

df_1['준공연도'] = df_1.apply(get_commissioning, axis=1)

# 연식 계산 함수 (월 기준, 일 무시)
def calculate_age_month_decimal(row):
    commissioning = row['준공연도']
    year = int(row['year'])
    month = int(row['month'])
    if commissioning is None or pd.isna(commissioning):
        return None
    try:
        comm_year, comm_month = commissioning.split('.')
        comm_year = int(comm_year)
        comm_month = int(comm_month)
        age = year - comm_year
        month_diff = month - comm_month
        if month_diff < 0:
            age -= 1
            month_diff += 12
        age_decimal = age + month_diff / 12
        return round(age_decimal, 1)
    except Exception:
        return None

df_1['연식'] = df_1.apply(calculate_age_month_decimal, axis=1)

In [15]:
df_1.head()

,발전구분,호기,hour,발전량(kWh),설비용량(MW),지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),...,일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),year,month,day,설비용량 (MW),준공연도,연식
0,감우리,1,1,0.0,0.554,진주,24.5,NaN,0.0,0.0,...,NaN,NaN,NaN,2.0,2021,8,5,0.554,2021.8,0
1,감우리,1,1,0.0,0.554,진주,24.4,NaN,0.0,0.0,...,NaN,NaN,NaN,3.0,2021,8,6,0.554,2021.8,0
2,감우리,1,1,0.0,0.554,진주,24.4,NaN,0.2,0.0,...,NaN,NaN,NaN,1.0,2021,8,7,0.554,2021.8,0
3,감우리,1,1,0.0,0.554,진주,23.6,0.4,0.6,360.0,...,NaN,NaN,NaN,9.0,2021,8,8,0.554,2021.8,0
4,감우리,1,1,0.0,0.554,진주,24.5,NaN,0.3,0.0,...,NaN,NaN,NaN,8.0,2021,8,9,0.554,2021.8,0

In [17]:
def calculate_age_month_decimal(row):
    commissioning = row['준공연도']
    year = int(row['year'])
    month = int(row['month'])
    if commissioning is None or pd.isna(commissioning):
        return None
    try:
        comm_year, comm_month = commissioning.split('.')
        comm_year = int(comm_year)
        comm_month = int(comm_month)
        age = year - comm_year
        month_diff = month - comm_month
        if month_diff < 0:
            age -= 1
            month_diff += 12
        age_decimal = age + month_diff / 12
        return round(age_decimal, 1)
    except Exception:
        return None

df_1['연식'] = df_1.apply(calculate_age_month_decimal, axis=1)

In [22]:
result = (
    df_1.groupby(['발전구분', '호기'])
    .agg(
        설비용량=('설비용량 (MW)', 'first'),
        준공연도=('준공연도', 'first'),
        연식_최소=('연식', 'min'),
        연식_최대=('연식', 'max')
    )
    .reset_index()
)

print(result)

          발전구분  호기   설비용량     준공연도  연식_최소  연식_최대
0          감우리   1  0.554   2021.8    0.0    3.5
1   광양항광양냉장태양광   1  0.700   2021.4    1.2    3.2
2    광양항어울림태양광   1  0.600  2020.12    0.1    2.5
3        남제주소내   1  0.196   2012.6    0.6   12.7
4     농촌공진도태양광   1  0.994  2008.10   10.2   11.2
5    당진자재창고태양광   1  0.700  2012.12    9.3   11.5
6        당진태양광   1  1.000   2010.9   10.3   13.8
7    당진화력수상태양광   1  1.000   2013.6    8.8   11.0
8          무릉리   1  0.809   2021.5    0.0    3.8
9     부산복합자재창고   1  0.187  2012.10    0.2   12.3
10        부산본부   2  0.502   2018.1    1.0    7.1
11      부산수처리장   1  0.111   2018.1    0.0    7.1
12        부산신항   1  0.115   2011.6    1.6   13.7
13       부산운동장   1  1.400   2017.1    1.0    8.1
14        삼척소내   1  0.999   2017.1    1.0    8.1
15        삼척소내   2  0.990   2018.1    0.3    7.1
16        삼척소내   3  2.002   2018.1    0.8    7.1
17        삼척소내   4  2.599   2019.1    0.6    6.1
18         송당리   1  0.997  2019.11    0.1    5.2
19  수원환경사업소태양광   1  1.500   2014.1    7.0    9.4
20    신인천 북측부지   1  0.365  2020.12    0.0    4.2
21     신인천 주차장   1  0.603  2019.12    0.0    5.2
22       신인천소내   1  0.200   2012.1    1.0   13.1
23      신인천전망대   1  1.742   2018.1    0.0    7.1
24   신인천해수구취수구   1  0.907  2018.12    0.0    6.2
25         신풍리   1  0.991   2021.4    0.1    3.8
26        영월본부   1  0.040   2009.1    4.0   16.1
27      영월철도부지   1  1.191   2018.4    0.0    6.8
28         용수리   1  0.889  2020.10    0.0    4.3
29     울산태양광#1   1  0.500   2011.3    9.8   13.2
30        위미2리   1  0.995   2020.4    0.0    4.8
31   이천D(백사면B)   1  1.000   2021.2    0.0    4.0
32    이천시 백사면A   1  1.834   2021.8    0.0    3.5
33      익산 다송리   1  0.893   2024.1    0.0    0.8
34     인천수산정수장   1  0.998  2011.11    1.2   13.2
35     하동공설운동장   1  0.377  2011.12    1.1   13.2
36       하동변전소   1  0.048   2011.8    1.4   13.5
37       하동보건소   1  0.041  2011.12    1.1   13.2
38        하동본부   1  0.998   2008.1    5.0   17.1
39        하동본부   2  1.901   2010.1    3.0   15.1
40        하동본부   3  0.601   2010.1    3.0   15.1
41        하동본부   4  0.998   2017.1    0.9    8.1
42        하동본부   5  0.998   2018.1    0.0    7.1
43        하동본부   6  0.998   2020.1    0.9    5.1
44       하동정수장   1  0.093  2011.12    1.1   13.2
45     하동하수처리장   1  0.054  2011.12    1.1   13.2
46     화촌주민참여형   1  1.000   2021.5    0.0    3.8

In [23]:
df_1.head()

,발전구분,호기,hour,발전량(kWh),설비용량(MW),지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),...,일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),year,month,day,설비용량 (MW),준공연도,연식
0,감우리,1,1,0.0,0.554,진주,24.5,NaN,0.0,0.0,...,NaN,NaN,NaN,2.0,2021,8,5,0.554,2021.8,0.0
1,감우리,1,1,0.0,0.554,진주,24.4,NaN,0.0,0.0,...,NaN,NaN,NaN,3.0,2021,8,6,0.554,2021.8,0.0
2,감우리,1,1,0.0,0.554,진주,24.4,NaN,0.2,0.0,...,NaN,NaN,NaN,1.0,2021,8,7,0.554,2021.8,0.0
3,감우리,1,1,0.0,0.554,진주,23.6,0.4,0.6,360.0,...,NaN,NaN,NaN,9.0,2021,8,8,0.554,2021.8,0.0
4,감우리,1,1,0.0,0.554,진주,24.5,NaN,0.3,0.0,...,NaN,NaN,NaN,8.0,2021,8,9,0.554,2021.8,0.0

In [24]:
import pandas as pd
import pvlib

# 1) 위도·경도 정보 (실제 발전소명, 위도/경도 입력 필요)
location_info = {
    '감우리': (37.0525, 128.0028),
    '남제주소내': (33.4843, 126.4979),
    '무릉리': (37.4477, 129.1686),
    '부산복합자재창고': (35.1136, 129.0401),
    '부산본부': (35.1796, 129.0756),
    '부산수처리장': (35.1011, 129.0302),
    '부산신항': (35.0957, 128.8192),
    '부산운동장': (35.1535, 129.0595),
    '삼척소내': (37.4477, 129.1686),
    '송당리': (33.4841, 126.7956),
    '신인천 북측부지': (37.4553, 126.6169),
    '신인천소내': (37.4553, 126.6169),
    '신인천전망대': (37.4562, 126.6169),
    '신인천해수구취수구': (37.4562, 126.6169),
    '신인천 주차장': (37.4553, 126.6169),
    '신풍리': (37.1855, 128.2333),
    '영월본부': (37.1832, 128.4617),
    '영월철도부지': (37.1832, 128.4617),
    '용수리': (37.2013, 128.2731),
    '위미2리': (33.2369, 126.6580),
    '이천D(백사면B)': (37.3395, 127.4913),
    '이천시 백사면A': (37.3395, 127.4913),
    '익산 다송리': (35.9682, 126.9973),
    '인천수산정수장': (37.4866, 126.6305),
    '하동공설운동장': (35.0671, 127.7511),
    '하동변전소': (35.0671, 127.7511),
    '하동보건소': (35.0671, 127.7511),
    '하동본부': (35.0671, 127.7511),
    '하동정수장': (35.0671, 127.7511),
    '하동하수처리장': (35.0671, 127.7511),
    '화촌주민참여형': (37.7686, 127.8480),
    '당진자재창고태양광': (36.8935, 126.6466),
    '당진태양광': (36.8935, 126.6466),
    '당진화력수상태양광': (36.8935, 126.6466),
    '울산태양광#1': (35.5384, 129.3114),
    '광양항광양냉장태양광': (34.9276, 127.7607),
    '광양항어울림태양광': (34.9276, 127.7607),
    '수원환경사업소태양광': (37.2697, 127.0095),
    '농촌공진도태양광': (34.4827, 126.1122),
}


# 2) 시간 컬럼 처리 (예시: 'year', 'month', 'day', 'hour' 컬럼이 있다고 가정)
df_1['year'] = df_1['year'].astype(int)
df_1['month'] = df_1['month'].astype(int)
df_1['day'] = df_1['day'].astype(int)
if 'hour' not in df_1.columns:
    df_1['hour'] = 12  # 시간 정보 없으면 정오(12시)로 설정

df_1['일시'] = pd.to_datetime(
    df_1[['year', 'month', 'day', 'hour']]
).dt.tz_localize('Asia/Seoul')

# 3) 태양 위치 계산 함수
def compute_solar_pos(row):
    plant = row['발전구분']
    dt = row['일시']
    if plant not in location_info or pd.isna(dt):
        return pd.Series([None, None])
    lat, lon = location_info[plant]
    loc = pvlib.location.Location(lat, lon, tz='Asia/Seoul')
    pos = loc.get_solarposition(times=[dt])
    altitude = pos['apparent_elevation'].iloc[0]
    azimuth = pos['azimuth'].iloc[0]
    if altitude <= 0:
        azimuth = None
        altitude = 0
    return pd.Series([altitude, azimuth])

# 4) 계산 적용
df_1[['태양고도', '방위각']] = df_1.apply(compute_solar_pos, axis=1)

# 5) 시간대별 평균 고도 계산 (정상 확인용)
summary_hour = df_1.groupby(df_1['일시'].dt.hour)['태양고도'].mean().reset_index()
summary_hour.columns = ['시간대', '평균 고도 (°)']
print(summary_hour)

    시간대  평균 고도 (°)
0     0   0.000000
1     1   0.000000
2     2   0.000000
3     3   0.000000
4     4   0.000000
5     5   0.000000
6     6   1.886792
7     7   7.991973
8     8  17.893804
9     9  29.037251
10   10  39.298920
11   11  47.890407
12   12  53.355468
13   13  53.279299
14   14  47.670380
15   15  38.972681
16   16  28.641822
17   17  17.463113
18   18   7.828887
19   19   1.894642
20   20   0.000000
21   21   0.000000
22   22   0.000000
23   23   0.000000

In [47]:
import pandas as pd

df_2 = pd.read_csv("df_solar_final_sorted.csv", encoding='utf-8')
df_3 = pd.read_csv("df_solar_sunshine.csv", encoding='utf-8')

In [48]:
print("✅ df_1 컬럼명:")
print(df_1.columns.tolist())

print("\n✅ df_2 컬럼명:") 
print(df_2.columns.tolist())

print("\n✅ df_3 컬럼명:") 
print(df_3.columns.tolist())

✅ df_1 컬럼명:
['발전구분', '호기', 'hour', '발전량(kWh)', '설비용량(MW)', '지점명', '기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)', '일조(hr)', '일사(MJ/m2)', '적설(cm)', '전운량(10분위)', 'year', 'month', 'day', '설비용량 (MW)', '연식(년)', '태양고도', '방위각']

✅ df_2 컬럼명:
['발전구분', '지점명', '설비용량(MW)', '연식(년)', 'year', 'month', 'day', 'hour', 'weekday', '일사(MJ/m2)', '태양고도', '방위각', '풍속(m/s)', '풍향(16방위)', '기온(°C)', '하늘상태', '습도(%)', '강수량(mm)', '적설(cm)', '발전량(kWh)']

✅ df_3 컬럼명:
['발전구분', '지점명', '설비용량(MW)', '연식(년)', 'year', 'month', 'day', 'hour', 'weekday', '일사(MJ/m2)', '태양고도', '방위각', '풍속(m/s)', '풍향(16방위)', '기온(°C)', '하늘상태', '습도(%)', '강수량(mm)', '적설(cm)', '발전량(kWh)', '일자', '일조(hr)']

In [49]:
df_2.shape, df_3.shape

((201306, 20), (201306, 22))

In [43]:
# ✅ 1. 기본값으로 '호기' 컬럼 추가 (모두 1호기)
df_2['호기'] = 1

# ✅ 2. (군산)삼랑진태양광1 → 발전구분: (군산)삼랑진태양광, 호기: 1
mask1 = df_2['발전구분'] == '(군산)삼랑진태양광1'
df_2.loc[mask1, '발전구분'] = '(군산)삼랑진태양광'
df_2.loc[mask1, '호기'] = 1

# ✅ 3. (군산)삼랑진태양광2 → 발전구분: (군산)삼랑진태양광, 호기: 2
mask2 = df_2['발전구분'] == '(군산)삼랑진태양광2'
df_2.loc[mask2, '발전구분'] = '(군산)삼랑진태양광'
df_2.loc[mask2, '호기'] = 2
# ✅ 발전구분과 호기별 행 개수 세기

pd.set_option('display.max_rows', None)  # 모든 행 출력
pd.set_option('display.max_columns', None)  # 모든 열 출력 (혹시 몰라서 추가)
pd.set_option('display.width', None)  # 줄 바꿈 없이 출력
pd.set_option('display.max_colwidth', None)  # 컬럼 안의 문자열 최대 길이도 무제한

count_df = df_2.groupby(['발전구분', '호기']).size().reset_index(name='행개수')

# ✅ 결과 출력
print(count_df)

            발전구분  호기    행개수
0     (군산)삼랑진태양광   1   8760
1     (군산)삼랑진태양광   2   8760
2   세종시폐기물매립장태양광   1  56814
3     안산연성정수장태양광   1  56886
4      영암에프원태양광b   1  61350
5  태안#9,10 수상태양광   1   8736

In [45]:
# ✅ 제거할 컬럼 목록
cols_to_drop = ['현지기압(hPa)', '준공연도', '일시']

# ✅ 컬럼 제거 (존재할 경우에만 제거되도록)
df_1 = df_1.drop(columns=[col for col in cols_to_drop if col in df_1.columns])

# ✅ '연식' → '연식(년)' 으로 컬럼명 변경
df_1 = df_1.rename(columns={'연식': '연식(년)'})

In [55]:
# ✅ '일시' 컬럼 제거
df_3 = df_3.drop(columns=['일자'], errors='ignore')

In [58]:
# ✅ '설비용량(MW)' 컬럼 제거 (존재할 경우만)
if '설비용량(MW)' in df_1.columns:
    df_1 = df_1.drop(columns=['설비용량(MW)'])

# ✅ '설비용량 (MW)' → '설비용량(MW)' 으로 이름 변경
df_1 = df_1.rename(columns={'설비용량 (MW)': '설비용량(MW)'})

In [56]:
print("✅ df_1 컬럼명:")
print(df_1.columns.tolist())

print("\n✅ df_3 컬럼명:") 
print(df_3.columns.tolist())

✅ df_1 컬럼명:
['발전구분', '호기', 'hour', '발전량(kWh)', '설비용량(MW)', '지점명', '기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)', '일조(hr)', '일사(MJ/m2)', '적설(cm)', '전운량(10분위)', 'year', 'month', 'day', '설비용량 (MW)', '연식(년)', '태양고도', '방위각']

✅ df_3 컬럼명:
['발전구분', '지점명', '설비용량(MW)', '연식(년)', 'year', 'month', 'day', 'hour', 'weekday', '일사(MJ/m2)', '태양고도', '방위각', '풍속(m/s)', '풍향(16방위)', '기온(°C)', '하늘상태', '습도(%)', '강수량(mm)', '적설(cm)', '발전량(kWh)', '일조(hr)']