In [2]:
import pandas as pd
import os

In [3]:
# ✅ CSV 파일들이 있는 폴더 경로
folder_path =  "C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\수원환경사업소(21.01-23.06)" # 예: 'data/' 또는 './csv_files/'

# ✅ 해당 폴더 내 모든 CSV 파일 이름 가져오기
file_list = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# ✅ 각 CSV 파일을 읽어서 리스트에 저장
df_list = [pd.read_csv(os.path.join(folder_path, file), encoding='cp949') for file in file_list]

# ✅ 데이터프레임들을 하나로 병합
merged_df = pd.concat(df_list, ignore_index=True)

# ✅ 병합된 결과를 새로운 CSV로 저장 (선택)
merged_df.to_csv('merged_result.csv', index=False, encoding='utf-8-sig')

In [4]:
df = pd.read_csv("merged_result.csv", encoding = 'utf-8')

In [5]:
df.head()

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,119,수원,2021-01-01 01:00,-8.6,NaN,0.9,320.0,85.0,1022.5,NaN,NaN,NaN,0.0
1,119,수원,2021-01-01 02:00,-9.8,NaN,1.4,230.0,87.0,1022.6,NaN,NaN,NaN,0.0
2,119,수원,2021-01-01 03:00,-9.8,NaN,1.0,250.0,83.0,1023.1,NaN,NaN,NaN,0.0
3,119,수원,2021-01-01 04:00,-9.8,NaN,1.5,110.0,84.0,1022.7,NaN,NaN,NaN,0.0
4,119,수원,2021-01-01 05:00,-9.2,NaN,1.6,160.0,83.0,1022.3,NaN,NaN,NaN,0.0

In [6]:
df = df.drop(columns=["지점"])

In [7]:
df.head()

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,수원,2021-01-01 01:00,-8.6,NaN,0.9,320.0,85.0,1022.5,NaN,NaN,NaN,0.0
1,수원,2021-01-01 02:00,-9.8,NaN,1.4,230.0,87.0,1022.6,NaN,NaN,NaN,0.0
2,수원,2021-01-01 03:00,-9.8,NaN,1.0,250.0,83.0,1023.1,NaN,NaN,NaN,0.0
3,수원,2021-01-01 04:00,-9.8,NaN,1.5,110.0,84.0,1022.7,NaN,NaN,NaN,0.0
4,수원,2021-01-01 05:00,-9.2,NaN,1.6,160.0,83.0,1022.3,NaN,NaN,NaN,0.0

In [8]:
df.to_csv("수원 병합.csv", encoding = "utf-8")