In [5]:
import pandas as pd

# CSV íŒŒì¼ ì½ê¸°
df_solar = pd.read_csv('df_solar_final_sorted.csv')
df_sunshine = pd.read_csv('ì¼ì¡°_yearmonthdaydweekdayì •ë ¬.csv')

In [8]:
df_sunshine.head()

   Unnamed: 0  ì§€ì ëª…  year  month  day  weekday  hour  ì¼ì¡°(hr)
0           0  ì–‘ì‚°ì‹œ  2023      1    1        6     8     0.0
1           1  ì–‘ì‚°ì‹œ  2023      1    1        6     9     0.3
2           2  ì–‘ì‚°ì‹œ  2023      1    1        6    10     1.0
3           3  ì–‘ì‚°ì‹œ  2023      1    1        6    11     1.0
4           4  ì–‘ì‚°ì‹œ  2023      1    1        6    12     1.0

In [11]:
# 'ì§€ì ëª…'ì´ 'ì„¸ì¢…'ì¸ ê²½ìš° â†’ 'ì²­ì£¼'ë¡œ ë³€ê²½
df_sunshine['ì§€ì ëª…'] = df_sunshine['ì§€ì ëª…'].replace('ì„¸ì¢…', 'ì²­ì£¼')

In [13]:
df_sunshine.head()

   Unnamed: 0  ì§€ì ëª…  year  month  day  weekday  hour  ì¼ì¡°(hr)         ì¼ì
0           0  ì–‘ì‚°ì‹œ  2023      1    1        6     8     0.0 2023-01-01
1           1  ì–‘ì‚°ì‹œ  2023      1    1        6     9     0.3 2023-01-01
2           2  ì–‘ì‚°ì‹œ  2023      1    1        6    10     1.0 2023-01-01
3           3  ì–‘ì‚°ì‹œ  2023      1    1        6    11     1.0 2023-01-01
4           4  ì–‘ì‚°ì‹œ  2023      1    1        6    12     1.0 2023-01-01

In [ ]:
df_solar.head()

,ë°œì „êµ¬ë¶„,ì§€ì ëª…,ì„¤ë¹„ìš©ëŸ‰(MW),ì—°ì‹(ë…„),year,month,day,hour,weekday,ì¼ì‚¬(MJ/m2),...,ë°©ìœ„ê°,í’ì†(m/s),í’í–¥(16ë°©ìœ„),ê¸°ì˜¨(Â°C),í•˜ëŠ˜ìƒíƒœ,ìŠµë„(%),ê°•ìˆ˜ëŸ‰(mm),ì ì„¤(cm),ë°œì „ëŸ‰(kWh),ì¼ì
0,(êµ°ì‚°)ì‚¼ë‘ì§„íƒœì–‘ê´‘1,ì–‘ì‚°ì‹œ,2.0,14.8,2023,1,1,1,6,0.0,...,NaN,2.4,180.0,1.9,1.0,54.0,0.0,0.0,0.0,2023-01-01
1,(êµ°ì‚°)ì‚¼ë‘ì§„íƒœì–‘ê´‘1,ì–‘ì‚°ì‹œ,2.0,14.8,2023,1,1,2,6,0.0,...,NaN,2.4,200.0,1.5,1.0,54.0,0.0,0.0,0.0,2023-01-01
2,(êµ°ì‚°)ì‚¼ë‘ì§„íƒœì–‘ê´‘1,ì–‘ì‚°ì‹œ,2.0,14.8,2023,1,1,3,6,0.0,...,NaN,0.8,250.0,-1.2,1.0,72.0,0.0,0.0,0.0,2023-01-01
3,(êµ°ì‚°)ì‚¼ë‘ì§„íƒœì–‘ê´‘1,ì–‘ì‚°ì‹œ,2.0,14.8,2023,1,1,4,6,0.0,...,NaN,1.5,250.0,-0.5,1.0,70.0,0.0,0.0,0.0,2023-01-01
4,(êµ°ì‚°)ì‚¼ë‘ì§„íƒœì–‘ê´‘1,ì–‘ì‚°ì‹œ,2.0,14.8,2023,1,1,5,6,0.0,...,NaN,1.9,230.0,-1.4,1.0,73.0,0.0,0.0,0.0,2023-01-01

In [10]:
import pandas as pd

# âœ… ì¼ì ì»¬ëŸ¼ ìƒì„± (df_sunshineì€ year, month, dayë¡œë¶€í„°)
df_sunshine['ì¼ì'] = pd.to_datetime(df_sunshine[['year', 'month', 'day']], errors='coerce')

# âœ… df_solarë„ í˜¹ì‹œ ì¼ìê°€ ë¬¸ìì—´ì´ë©´ datetimeìœ¼ë¡œ
df_solar['ì¼ì'] = pd.to_datetime(df_solar[['year', 'month', 'day']], errors='coerce')

# âœ… ìš”ì•½ í•¨ìˆ˜
def summarize_by_location(df, name='DataFrame'):
    summary = df.groupby('ì§€ì ëª…')['ì¼ì'].agg(
        í–‰_ê°œìˆ˜='count',
        ì‹œì‘ì‹œì ='min',
        ëì‹œì ='max'
    ).reset_index()
    print(f"\nğŸ“Œ {name} ìš”ì•½:")
    print(summary)
    return summary

# âœ… ì‹¤í–‰
summary_solar = summarize_by_location(df_solar, 'df_solar')
summary_sunshine = summarize_by_location(df_sunshine, 'df_sunshine')

ğŸ“Œ df_solar ìš”ì•½:
   ì§€ì ëª…   í–‰_ê°œìˆ˜       ì‹œì‘ì‹œì         ëì‹œì
0   ëª©í¬  61350 2017-01-01 2023-12-31
1   ì„œì‚°   8736 2023-01-01 2023-12-31
2   ìˆ˜ì›  56886 2017-01-01 2023-06-30
3  ì–‘ì‚°ì‹œ  17520 2023-01-01 2023-12-31
4   ì²­ì£¼  56814 2017-01-01 2023-06-30

ğŸ“Œ df_sunshine ìš”ì•½:
   ì§€ì ëª…   í–‰_ê°œìˆ˜       ì‹œì‘ì‹œì         ëì‹œì
0   ëª©í¬  33494 2017-01-01 2023-12-31
1   ì„œì‚°   4793 2023-01-01 2023-12-31
2   ìˆ˜ì›  31075 2017-01-01 2023-06-30
3  ì–‘ì‚°ì‹œ   4791 2023-01-01 2023-12-31
4   ì²­ì£¼  31009 2017-01-01 2023-06-30