In [5]:
import pandas as pd

# CSV 파일 읽기
df_solar = pd.read_csv('df_solar_final_sorted.csv')
df_sunshine = pd.read_csv('일조_yearmonthdaydweekday정렬.csv')

In [8]:
df_sunshine.head()

   Unnamed: 0  지점명  year  month  day  weekday  hour  일조(hr)
0           0  양산시  2023      1    1        6     8     0.0
1           1  양산시  2023      1    1        6     9     0.3
2           2  양산시  2023      1    1        6    10     1.0
3           3  양산시  2023      1    1        6    11     1.0
4           4  양산시  2023      1    1        6    12     1.0

In [11]:
# '지점명'이 '세종'인 경우 → '청주'로 변경
df_sunshine['지점명'] = df_sunshine['지점명'].replace('세종', '청주')

In [13]:
df_sunshine.head()

   Unnamed: 0  지점명  year  month  day  weekday  hour  일조(hr)         일자
0           0  양산시  2023      1    1        6     8     0.0 2023-01-01
1           1  양산시  2023      1    1        6     9     0.3 2023-01-01
2           2  양산시  2023      1    1        6    10     1.0 2023-01-01
3           3  양산시  2023      1    1        6    11     1.0 2023-01-01
4           4  양산시  2023      1    1        6    12     1.0 2023-01-01

In [ ]:
df_solar.head()

,발전구분,지점명,설비용량(MW),연식(년),year,month,day,hour,weekday,일사(MJ/m2),...,방위각,풍속(m/s),풍향(16방위),기온(°C),하늘상태,습도(%),강수량(mm),적설(cm),발전량(kWh),일자
0,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,1,1,6,0.0,...,NaN,2.4,180.0,1.9,1.0,54.0,0.0,0.0,0.0,2023-01-01
1,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,1,2,6,0.0,...,NaN,2.4,200.0,1.5,1.0,54.0,0.0,0.0,0.0,2023-01-01
2,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,1,3,6,0.0,...,NaN,0.8,250.0,-1.2,1.0,72.0,0.0,0.0,0.0,2023-01-01
3,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,1,4,6,0.0,...,NaN,1.5,250.0,-0.5,1.0,70.0,0.0,0.0,0.0,2023-01-01
4,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,1,5,6,0.0,...,NaN,1.9,230.0,-1.4,1.0,73.0,0.0,0.0,0.0,2023-01-01

In [10]:
import pandas as pd

# ✅ 일자 컬럼 생성 (df_sunshine은 year, month, day로부터)
df_sunshine['일자'] = pd.to_datetime(df_sunshine[['year', 'month', 'day']], errors='coerce')

# ✅ df_solar도 혹시 일자가 문자열이면 datetime으로
df_solar['일자'] = pd.to_datetime(df_solar[['year', 'month', 'day']], errors='coerce')

# ✅ 요약 함수
def summarize_by_location(df, name='DataFrame'):
    summary = df.groupby('지점명')['일자'].agg(
        행_개수='count',
        시작시점='min',
        끝시점='max'
    ).reset_index()
    print(f"\n📌 {name} 요약:")
    print(summary)
    return summary

# ✅ 실행
summary_solar = summarize_by_location(df_solar, 'df_solar')
summary_sunshine = summarize_by_location(df_sunshine, 'df_sunshine')

📌 df_solar 요약:
   지점명   행_개수       시작시점        끝시점
0   목포  61350 2017-01-01 2023-12-31
1   서산   8736 2023-01-01 2023-12-31
2   수원  56886 2017-01-01 2023-06-30
3  양산시  17520 2023-01-01 2023-12-31
4   청주  56814 2017-01-01 2023-06-30

📌 df_sunshine 요약:
   지점명   행_개수       시작시점        끝시점
0   목포  33494 2017-01-01 2023-12-31
1   서산   4793 2023-01-01 2023-12-31
2   수원  31075 2017-01-01 2023-06-30
3  양산시   4791 2023-01-01 2023-12-31
4   청주  31009 2017-01-01 2023-06-30