In [2]:
import pandas as pd

# CSV 파일 읽기
df_solar = pd.read_csv('df_solar_real_final_yearmonthdaydate.csv')

In [5]:
df_solar.head()

,발전구분,year,month,day,weekday,설비용량(MW),시간,발전량(kWh),연식(년),지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),일사(MJ/m2),적설(cm),하늘상태,태양고도,방위각
0,세종시폐기물매립장태양광,2017,1,1,6,1.628,1,0.0,4.6,청주,2.2,0.0,0.2,0.0,78.0,0.0,0.0,NaN,0.0,NaN
1,안산연성정수장태양광,2017,1,1,6,1.490,1,0.0,4.4,수원,0.1,0.0,0.3,0.0,96.0,0.0,0.0,NaN,0.0,NaN
2,영암에프원태양광b,2017,1,1,6,13.296,1,0.0,4.1,목포,5.0,0.0,1.8,160.0,93.0,0.0,0.0,NaN,0.0,NaN
3,세종시폐기물매립장태양광,2017,1,1,6,1.628,2,0.0,4.6,청주,1.9,0.0,0.5,340.0,80.0,0.0,0.0,NaN,0.0,NaN
4,안산연성정수장태양광,2017,1,1,6,1.490,2,0.0,4.4,수원,-1.1,0.0,0.0,0.0,97.0,0.0,0.0,NaN,0.0,NaN

In [16]:
# ✅ '시간' 컬럼명을 'hour'로 변경
df_solar = df_solar.rename(columns={'시간': 'hour'})

# ✅ 정렬 기준 컬럼 리스트 (상관계수 기반 중요도 반영 + 컬럼명 수정 반영)
sorted_columns = [
    '발전구분', '지점명',
    '설비용량(MW)', '연식(년)',
    'year', 'month', 'day', 'hour', 'weekday',
    '일사(MJ/m2)', '태양고도', '방위각', '풍속(m/s)', '풍향(16방위)',
    '기온(°C)', '하늘상태', '습도(%)',
    '강수량(mm)', '적설(cm)',
    '발전량(kWh)'
]

# ✅ 누락된 컬럼은 뒤에 추가
remaining_columns = [col for col in df_solar.columns if col not in sorted_columns]
final_columns = sorted_columns + remaining_columns

# ✅ 컬럼 순서 정렬
df_solar = df_solar[final_columns]

# ✅ Row 정렬: 발전소 → 날짜 → 시간
df_solar = df_solar.sort_values(by=['발전구분', 'year', 'month', 'day', 'hour']).reset_index(drop=True)

# ✅ CSV로 저장
df_solar.to_csv("df_solar_final_sorted.csv", index=False, encoding='utf-8-sig')

In [15]:
df_solar.head(80)

,발전구분,지점명,설비용량(MW),연식(년),year,month,day,hour,weekday,일사(MJ/m2),태양고도,방위각,풍속(m/s),풍향(16방위),기온(°C),하늘상태,습도(%),강수량(mm),적설(cm),발전량(kWh)
0,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,1,1,6,0.00,0.000000,NaN,2.4,180.0,1.9,1.0,54.0,0.0,0.0,0.0
1,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,1,2,6,0.00,0.000000,NaN,2.4,200.0,1.5,1.0,54.0,0.0,0.0,0.0
2,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,1,3,6,0.00,0.000000,NaN,0.8,250.0,-1.2,1.0,72.0,0.0,0.0,0.0
3,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,1,4,6,0.00,0.000000,NaN,1.5,250.0,-0.5,1.0,70.0,0.0,0.0,0.0
4,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,1,5,6,0.00,0.000000,NaN,1.9,230.0,-1.4,1.0,73.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,4,4,2,0.00,0.000000,NaN,0.5,230.0,-1.5,1.0,33.0,0.0,0.0,0.0
76,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,4,5,2,0.00,0.000000,NaN,5.5,320.0,0.6,1.0,29.0,0.0,0.0,0.0
77,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,4,6,2,0.00,0.000000,NaN,4.2,320.0,0.5,1.0,32.0,0.0,0.0,0.0
78,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,4,7,2,0.00,0.000000,NaN,1.1,230.0,-1.4,1.0,39.0,0.0,0.0,0.0
79,(군산)삼랑진태양광1,양산시,2.0,14.8,2023,1,4,8,2,0.01,4.005225,121.551576,1.6,230.0,-1.4,1.0,45.0,0.0,0.0,0.0