In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\농촌공진도(목포13.1-25.2)\\목포20230101-1231.csv", encoding = 'cp949')

In [4]:
df.head()

    지점 지점명                일시  일조(hr)
0  165  목포  2023-01-01 08:00     0.0
1  165  목포  2023-01-01 09:00     0.1
2  165  목포  2023-01-01 10:00     1.0
3  165  목포  2023-01-01 11:00     1.0
4  165  목포  2023-01-01 12:00     1.0

In [5]:
df["일시"].min()

'2023-01-01 08:00'

In [6]:
df["일시"].max()

'2023-12-31 18:00'

In [8]:
df1 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\농촌공진도(목포13.1-25.2)\\목포20230101-20240101.csv", encoding = 'cp949')

In [10]:
df1["일시"].min()

'2023-01-01 00:00'

In [11]:
df1["일시"].max()

'2024-01-01 00:00'

In [1]:
import pandas as pd
import os

# ✅ CSV 파일들이 있는 폴더 경로
folder_path =  "C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\농촌공진도(목포13.1-25.2)" # 예: 'data/' 또는 './csv_files/'

# ✅ 해당 폴더 내 모든 CSV 파일 이름 가져오기
file_list = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# ✅ 각 CSV 파일을 읽어서 리스트에 저장
df_list = [pd.read_csv(os.path.join(folder_path, file), encoding='cp949') for file in file_list]

# ✅ 데이터프레임들을 하나로 병합
merged_df = pd.concat(df_list, ignore_index=True)

# ✅ 병합된 결과를 새로운 CSV로 저장 (선택)
merged_df.to_csv('merged_result.csv', index=False, encoding='utf-8-sig')

In [3]:
df = pd.read_csv("목포병합.csv", encoding = "utf-8")

In [4]:
df.head()

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,165,목포,2013-01-01 00:00,-2.0,NaN,4.1,160.0,93.0,1016.5,NaN,NaN,6.2,3.0
1,165,목포,2013-01-01 01:00,-2.2,NaN,3.7,160.0,95.0,1016.4,NaN,NaN,6.2,NaN
2,165,목포,2013-01-01 02:00,-2.4,NaN,3.6,160.0,95.0,1016.3,NaN,NaN,6.2,NaN
3,165,목포,2013-01-01 03:00,-2.7,NaN,3.6,160.0,95.0,1015.9,NaN,NaN,6.2,7.0
4,165,목포,2013-01-01 04:00,-2.9,NaN,4.0,160.0,94.0,1015.1,NaN,NaN,6.2,7.0

In [5]:
df = df.drop(columns=["지점"])
df.head()

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,목포,2013-01-01 00:00,-2.0,NaN,4.1,160.0,93.0,1016.5,NaN,NaN,6.2,3.0
1,목포,2013-01-01 01:00,-2.2,NaN,3.7,160.0,95.0,1016.4,NaN,NaN,6.2,NaN
2,목포,2013-01-01 02:00,-2.4,NaN,3.6,160.0,95.0,1016.3,NaN,NaN,6.2,NaN
3,목포,2013-01-01 03:00,-2.7,NaN,3.6,160.0,95.0,1015.9,NaN,NaN,6.2,7.0
4,목포,2013-01-01 04:00,-2.9,NaN,4.0,160.0,94.0,1015.1,NaN,NaN,6.2,7.0