In [1]:
import pandas as pd
import os

In [2]:
# ✅ CSV 파일들이 있는 폴더 경로
folder_path =  "C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\삼척소(18.01-25.02)" # 예: 'data/' 또는 './csv_files/'

# ✅ 해당 폴더 내 모든 CSV 파일 이름 가져오기
file_list = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# ✅ 각 CSV 파일을 읽어서 리스트에 저장
df_list = [pd.read_csv(os.path.join(folder_path, file), encoding='cp949') for file in file_list]

# ✅ 데이터프레임들을 하나로 병합
merged_df = pd.concat(df_list, ignore_index=True)

# ✅ 병합된 결과를 새로운 CSV로 저장 (선택)
merged_df.to_csv('merged_result.csv', index=False, encoding='utf-8-sig')

In [3]:
df = pd.read_csv("merged_result.csv", encoding = 'utf-8')

In [4]:
df.head()

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,106,동해,2017-01-01 01:00,3.9,NaN,1.2,180.0,57.0,1021.8,NaN,NaN,NaN,NaN
1,106,동해,2017-01-01 02:00,4.1,NaN,1.5,230.0,54.0,1021.9,NaN,NaN,NaN,NaN
2,106,동해,2017-01-01 03:00,4.9,NaN,0.9,230.0,52.0,1022.2,NaN,NaN,NaN,NaN
3,106,동해,2017-01-01 04:00,4.8,NaN,2.0,250.0,53.0,1021.7,NaN,NaN,NaN,NaN
4,106,동해,2017-01-01 05:00,3.2,NaN,0.7,200.0,56.0,1021.8,NaN,NaN,NaN,NaN

In [5]:
df = df.drop(columns = ["지점"])

In [6]:
df.to_csv("삼척소 병합.csv", encoding = 'utf-8')