In [5]:
import pandas as pd

In [7]:
df = pd.read_csv("C:/Users/kelly/OneDrive/바탕 화면/태양광/최종사용/한국서부발전_시간별_발전량_utf-8_20231231.csv", encoding = "utf-8")

In [9]:
df.head(3)

,날짜,발전기명,설비용량(MW),시간,해당 시간 발전량(kWh),해당날짜 총 발전량(kMh),주소지
0,2023-01-01,(군산)영암F1태양광,13.296,01시,0.0,40588.8,전라남도 영암군 삼호읍 에프원로 2 영암 F1 태양광 발전소
1,2023-01-02,(군산)영암F1태양광,13.296,01시,0.0,57024.0,전라남도 영암군 삼호읍 에프원로 2 영암 F1 태양광 발전소
2,2023-01-03,(군산)영암F1태양광,13.296,01시,0.0,48672.0,전라남도 영암군 삼호읍 에프원로 2 영암 F1 태양광 발전소

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52536 entries, 0 to 52535
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   날짜               52536 non-null  object
 1   발전기명             52536 non-null  object
 2   설비용량(MW)         52536 non-null  float64
 3   시간               52536 non-null  object
 4   해당 시간 발전량(kWh)   52536 non-null  float64
 5   해당날짜 총 발전량(kMh)  52536 non-null  float64
 6   주소지              52536 non-null  object
dtypes: float64(3), object(4)
memory usage: 2.8+ MB

In [13]:
df["발전기명"].unique()

array(['(군산)영암F1태양광', '(군산)삼랑진태양광', '장흥풍력', '화순풍력발전', '태안#9,10 수상태양광'],
      dtype=object)

In [15]:
#태양광인 행들만 추출
df_solar = df[
    df["발전기명"].isin(["(군산)영암F1태양광", "(군산)삼랑진태양광", "태안#9,10 수상태양광"])
]

#풍력인 행들만 추출
df_wind = df[
    df["발전기명"].isin(["장흥풍력", "화순풍력발전"])
]

In [17]:
df_solar.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35016 entries, 0 to 52535
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   날짜               35016 non-null  object
 1   발전기명             35016 non-null  object
 2   설비용량(MW)         35016 non-null  float64
 3   시간               35016 non-null  object
 4   해당 시간 발전량(kWh)   35016 non-null  float64
 5   해당날짜 총 발전량(kMh)  35016 non-null  float64
 6   주소지              35016 non-null  object
dtypes: float64(3), object(4)
memory usage: 2.1+ MB

In [19]:
df_wind.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17520 entries, 1095 to 52171
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   날짜               17520 non-null  object
 1   발전기명             17520 non-null  object
 2   설비용량(MW)         17520 non-null  float64
 3   시간               17520 non-null  object
 4   해당 시간 발전량(kWh)   17520 non-null  float64
 5   해당날짜 총 발전량(kMh)  17520 non-null  float64
 6   주소지              17520 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.1+ MB

In [21]:
df_solar.to_csv("한국서부발전_시간별발전량_태양광_20231231.csv", index = False, encoding="utf-8-sig")

In [23]:
df_wind.to_csv("한국서부발전_시간별발전량_풍력_20231231.csv", index = False, encoding="utf-8-sig")