In [4]:
import pandas as pd
import os

In [5]:
# ✅ CSV 파일들이 있는 폴더 경로
folder_path =  "C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\송당리(19.12-25.2)" # 예: 'data/' 또는 './csv_files/'

# ✅ 해당 폴더 내 모든 CSV 파일 이름 가져오기
file_list = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# ✅ 각 CSV 파일을 읽어서 리스트에 저장
df_list = [pd.read_csv(os.path.join(folder_path, file), encoding='cp949') for file in file_list]

# ✅ 데이터프레임들을 하나로 병합
merged_df = pd.concat(df_list, ignore_index=True)

# ✅ 병합된 결과를 새로운 CSV로 저장 (선택)
merged_df.to_csv('merged_result.csv', index=False, encoding='utf-8-sig')

In [6]:
df = pd.read_csv("merged_result.csv", encoding = 'utf-8')

In [7]:
df.head()

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,184,제주,2019-01-01 01:00,5.2,NaN,3.8,290.0,63.0,1032.2,NaN,NaN,NaN,9.0
1,184,제주,2019-01-01 02:00,5.7,NaN,4.2,320.0,60.0,1032.3,NaN,NaN,NaN,9.0
2,184,제주,2019-01-01 03:00,5.8,NaN,4.6,290.0,59.0,1032.9,NaN,NaN,NaN,9.0
3,184,제주,2019-01-01 04:00,6.1,NaN,4.6,290.0,64.0,1032.0,NaN,NaN,NaN,9.0
4,184,제주,2019-01-01 05:00,5.8,NaN,4.7,290.0,60.0,1031.3,NaN,NaN,NaN,9.0

In [8]:
df = df.drop(columns=["지점"])

In [10]:
df.head()

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,제주,2019-01-01 01:00,5.2,NaN,3.8,290.0,63.0,1032.2,NaN,NaN,NaN,9.0
1,제주,2019-01-01 02:00,5.7,NaN,4.2,320.0,60.0,1032.3,NaN,NaN,NaN,9.0
2,제주,2019-01-01 03:00,5.8,NaN,4.6,290.0,59.0,1032.9,NaN,NaN,NaN,9.0
3,제주,2019-01-01 04:00,6.1,NaN,4.6,290.0,64.0,1032.0,NaN,NaN,NaN,9.0
4,제주,2019-01-01 05:00,5.8,NaN,4.7,290.0,60.0,1031.3,NaN,NaN,NaN,9.0

In [9]:
df.to_csv("제주 병합.csv", encoding = 'utf-8')