In [1]:
import pandas as pd
import os

In [2]:
import os
import pandas as pd

# âœ… í˜„ì¬ í´ë” ê¸°ì¤€
folder_path = "."  # ë˜ëŠ” os.getcwd()

# âœ… í˜„ì¬ í´ë” ë‚´ ëª¨ë“  CSV íŒŒì¼ ê°€ì ¸ì˜¤ê¸°
file_list = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# âœ… íŒŒì¼ë³„ë¡œ ì½ì–´ì„œ ë¦¬ìŠ¤íŠ¸ì— ì €ì¥
df_list = [pd.read_csv(os.path.join(folder_path, file), encoding='cp949') for file in file_list]

# âœ… ë°ì´í„°í”„ë ˆì„ ë³‘í•©
merged_df = pd.concat(df_list, ignore_index=True)

# âœ… ê²°ê³¼ ì €ì¥
merged_df.to_csv('ë¶€ì‚°_ë³‘í•©2.csv', index=False, encoding='utf-8-sig')

print(f"ğŸ“ ë³‘í•© ì™„ë£Œ: {len(file_list)}ê°œ íŒŒì¼ â†’ merged_result.csv ì €ì¥ë¨")

ğŸ“ ë³‘í•© ì™„ë£Œ: 13ê°œ íŒŒì¼ â†’ merged_result.csv ì €ì¥ë¨

In [13]:
df = pd.read_csv("merged_result.csv", encoding = "utf-8")

In [14]:
df.head()

,ì§€ì,ì§€ì ëª…,ì¼ì‹œ,ê¸°ì˜¨(Â°C),ê°•ìˆ˜ëŸ‰(mm),í’ì†(m/s),í’í–¥(16ë°©ìœ„),ìŠµë„(%),í˜„ì§€ê¸°ì••(hPa),ì¼ì¡°(hr),ì¼ì‚¬(MJ/m2),ì ì„¤(cm),ì „ìš´ëŸ‰(10ë¶„ìœ„)
0,159,ë¶€ì‚°,2013-01-01 00:00,-2.3,NaN,1.6,340.0,51.0,1012.5,NaN,NaN,NaN,0.0
1,159,ë¶€ì‚°,2013-01-01 01:00,-2.4,NaN,1.8,340.0,54.0,1012.3,NaN,NaN,NaN,NaN
2,159,ë¶€ì‚°,2013-01-01 02:00,-2.5,NaN,1.9,340.0,53.0,1013.3,NaN,NaN,NaN,NaN
3,159,ë¶€ì‚°,2013-01-01 03:00,-2.0,NaN,1.7,320.0,52.0,1013.4,NaN,NaN,NaN,6.0
4,159,ë¶€ì‚°,2013-01-01 04:00,-2.3,NaN,2.1,320.0,54.0,1013.0,NaN,NaN,NaN,0.0

In [15]:
df = df.drop(columns = ["ì§€ì "])

In [16]:
df.head()

,ì§€ì ëª…,ì¼ì‹œ,ê¸°ì˜¨(Â°C),ê°•ìˆ˜ëŸ‰(mm),í’ì†(m/s),í’í–¥(16ë°©ìœ„),ìŠµë„(%),í˜„ì§€ê¸°ì••(hPa),ì¼ì¡°(hr),ì¼ì‚¬(MJ/m2),ì ì„¤(cm),ì „ìš´ëŸ‰(10ë¶„ìœ„)
0,ë¶€ì‚°,2013-01-01 00:00,-2.3,NaN,1.6,340.0,51.0,1012.5,NaN,NaN,NaN,0.0
1,ë¶€ì‚°,2013-01-01 01:00,-2.4,NaN,1.8,340.0,54.0,1012.3,NaN,NaN,NaN,NaN
2,ë¶€ì‚°,2013-01-01 02:00,-2.5,NaN,1.9,340.0,53.0,1013.3,NaN,NaN,NaN,NaN
3,ë¶€ì‚°,2013-01-01 03:00,-2.0,NaN,1.7,320.0,52.0,1013.4,NaN,NaN,NaN,6.0
4,ë¶€ì‚°,2013-01-01 04:00,-2.3,NaN,2.1,320.0,54.0,1013.0,NaN,NaN,NaN,0.0

In [18]:
df.to_csv("ë¶€ì‚° ë³‘í•©.csv", encoding = "utf-8")